.layout {
  position: relative;
  font-family: "Open Sans";
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
}

.backgroundContainer {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: calc(100% - 225px);
  width: 100%;
  background-color: #000324;
}
.backgroundGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(35deg, #0845a038 50%, #7a1ba6 100%, #000000 100%);
}
.imageContainer {
  display: flex;
  flex: 1;
  .backgroundImage {
    flex: 1;
    align-self: flex-end;
    width: 100%;
  }
}

.main {
  max-width: 1187px;
  margin: 0 auto;
  padding: 2em;
}

@media screen and (max-width: 900px) {
  .main {
    max-width: 100%;
    padding: 1em;
  }
}
