.home {
  color: white;
  header {
    max-width: 877px;
  }
  h1 {
    font-size: 4em;
    max-width: 877px;
  }

  .description {
    display: block;
    font-weight: 200;
    font-size: 1.5em;
  }
  .main {
    text-align: center;
    h2 {
      font-size: 3em;
    }
  }
  .cards {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 900px) {
    .main {
      text-align: center;
      h2 {
        font-size: 2em;
      }
    }
    h1 {
      font-size: 2.5em;
    }
    header {
      max-width: auto;
    }
    .description {
      font-size: 1.2em;
    }
  }
}
