.post {
  color: white;
  header {
    max-width: 877px;
  }
  .sitetitle {
    font-size: 4em;
    max-width: 877px;
  }

  .description {
    display: block;
    font-weight: 200;
    font-size: 1.5em;
  }
  .article {
    padding: 2em;
    background-color: #18003899;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 200;
    .metadata {
      font-size: 14px;
      font-weight: bold;
      color: #6a92b8;
      white-space: nowrap;
    }
    .metadataValue {
      white-space: nowrap;
      font-size: 14px;
      color: #6a92b8;
      a {
        color: #6a92b8;
      }
    }
    .blogtitle {
      margin-top: 0;
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    a {
      color: white;
    }
    video,
    img {
      max-width: 100%;
    }
  }
  .cards {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 900px) {
    .sitetitle {
      font-size: 1.5em;
    }
    .article {
      padding: 1em;
      font-size: 1rem;
      .blogtitle {
        font-size: 2rem;
      }
    }
  }
}
